html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map { height: 85%; width:100%; }
.page-container { height: 100%; width:100%; }

.banner-header {
    font-weight: lighter;
}

/*======= Map Styling ============*/
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img{
    display:none;
}
